{% extends 'blog/base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Edit Post - Django Blog
    {% else %}
        Create New Post - Django Blog
    {% endif %}
{% endblock %}

{% block content %}
<div class="post-form-container">
    <h1>
        {% if form.instance.pk %}
            Edit Post
        {% else %}
            Create New Post
        {% endif %}
    </h1>

    <form method="post" class="post-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}
                    Update Post
                {% else %}
                    Create Post
                {% endif %}
            </button>
            <a href="{% url 'post_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %} 